# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
.env

# IDE/Editor
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Python
*.py[cod]
*$py.class