{% extends 'base.html' %}

{% block content %}
  <!-- Job Description Search Form -->
  <div class="search-box shadow">
    <h1 class="mb-4 text-center text-primary">Find the Best Candidate</h1>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">Job Description</label>
        {{ form.job_description }}
      </div>
      <div class="mb-3">
        {{ form.top_n.label_tag }}
        {{ form.top_n }}
      </div>
      <button type="submit" class="btn btn-primary btn-lg w-100">
        Search <i class="bi bi-search"></i>
      </button>
    </form>
  </div>
{% endblock %}
